.stages {
  max-width: 1232px;
  margin: auto;
  font-family: "Exo 2";
  margin-top: 80px;
  margin-bottom: 62px;
}
.stages-h1 {
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #363738;
  margin-bottom: 48px;
}
.stages-wrapper {
  padding: 32px 0px 32px 96px;
  gap: 56px;
  margin-bottom: 24px;
  display: flex;
  border: 1px solid #d7d7dd;
  border-radius: 10px;
  box-shadow: 5px 4px 5px 0px rgba(215, 215, 221, 0.75);
  -webkit-box-shadow: 5px 4px 5px 0px rgba(215, 215, 221, 0.75);
  -moz-box-shadow: 5px 4px 5px 0px rgba(215, 215, 221, 0.75);
}
.stages-img {
}
.stages-h4 {
  padding-top: 32px;
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  color: #363738;
  text-decoration: underline 3px #ffce50;
  text-underline-offset: 10px;
}
.stages-p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #6b6b6c;
  margin-top: 24px;
}
@media (max-width: 768px) {
  .stages {
    margin: 0;
  }
  .stages-wrapper {
    display: block;
    padding: 40px 76px 48px 85px;
  }
  .stages-h1 {
    margin-left: 50px;
  }
  .stages-img {
    display: none;
  }
}
@media (max-width: 610px) {
  .stages {
    display: none;
  }
}
